<% content_for :with_logo do %>
  true
<% end %>


<div class="banner-spots">
  <div class="image">
    <%= image_tag 'backgrounds/bg_spots.jpg' %>
  </div>
</div>


<div class="title-spots container flex justify-end mx-auto pr-10">
  <h1 class="mont text-6xl font-bold text-white">MEILLEURS SPOTS</h1>
</div>


<!-- filtres -->

<div class="container flex items-center mx-auto filters-spots h-24 bg-white p-10">
  <!-- <div class=> -->

    <%= form_with url: spots_path, html: {class: "flex justify-between w-full", id: 'formFilter'}, method: :get do  %>

    <%= hidden_field_tag :min, params[:min] %>
    <%= hidden_field_tag :max, params[:max] %>

<!-- date départ -->
    <div class="flex items-center">
      Du&nbsp;
      <%= date_field_tag :start, @start, class: "start-date date cursor-default roboto w-32 focus:border-0 pb-0 flex items-center" %>
    </div>

<!-- date retour -->
    <div class="flex items-center">
      Au&nbsp;
      <%= date_field_tag :end, @end, class: "end-date date cursor-default roboto w-32 focus:border-0 pb-0 flex items-center" %>
    </div>

<!-- continent -->
    <select class="select-continent roboto flex items-center bg-transparent focus:outline-none focus:shadow-none">
      <option value="" class="roboto" > <p class="">EUROPE</p> </option>
      <option value="">Europe</option>
    </select>

<!-- pays -->
    <select class="select-pays roboto flex items-center bg-transparent focus:outline-none focus:shadow-none">
      <option value="" class="roboto" > <p class="">FRANCE</p> </option>
      <option value="">France</option>
    </select>

<!-- région -->
    <select name="region" class="select-region roboto flex items-center bg-transparent focus:outline-none focus:shadow-none">
      <option value="" class="roboto" > <p class="">Région</p> </option>
      <option value="SOORTS-HOSSEGOR">Soorts - Hossegor</option>
      <option value="LANDES">Landes</option>
    </select>

<!-- température de l'eau -->
    <select class="select-temperature roboto flex items-center bg-transparent focus:outline-none focus:shadow-none">
      <option value="" class="roboto" > <p class="">T° de l'eau</p> </option>
      <option value="">10 - 15°C</option>
    </select>

<!-- météo -->
    <select class="select-meteo roboto flex items-center bg-transparent focus:outline-none focus:shadow-none">
      <option value="" class="roboto" > <p class="">Météo</p> </option>
      <option value="">Orage</option>
    </select>

<!-- décompte spots affichés sur total -->
    <div class="flex items-center">
      <p class="roboto">12 / 32 spots</p>
    </div>

    <% end %>

<!-- fin des filtres -->
  <!-- </div> -->
</div>


  <!-- les cards spot -->
<div class="container flex flex-col items-center mx-auto px-10">

  <div class="grid grid-cols-3 gap-10" id="spots-cards">
    <%= render 'spots_cards' %>
  </div>

<!-- afficher plus -->
  <a class="btn-card-school mont bc-bleu-f flex items-center justify-center text-white rounded-md h-10 mb-10 w-48 mt-10 font-normal transition-all duration-500 ease-in-out text-left" href="#">Plus de spots</a>
</div>
