<% content_for :with_logo do %>
  true
<% end %>

<div class="banner">
  <div class="image">
    <%= image_tag(@spot.image_url || 'backgrounds/michael_shannon_unsplash_1.jpg') %>
  </div>
</div>

<div class="name container mx-auto h-24 pl-5">

<!-- région spot -->
  <p class="mont text-white font-medium text-2xl"><%= @spot.region %></p>

<!-- name spot -->
  <h1 class="mont text-6xl font-bold text-white"><%= @spot.name %></h1>
</div>


<div class="container mx-auto pt-8 flex flex-col">
  <%= link_to "< Retour aux spots", spots_path(end: params[:end], max: params[:max], min: params[:min], start: params[:start]), class: "roboto p-5 text-gray-500 hover:text-gray-600" %>




<%# <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" class="card-forecasti flex mx-auto m-5 rounded-lg shadow-lg my-8 overflow-hidden">
  <div class="pictosi text-center">
  </div>
  <div class="card-contenti flex flex-col flex-grow">
  </div>
</div> %>





  <% (@start..@end).each do |day| %>
    <%= render 'shared/forecasts_cards', day: day, spot: @spot %>
  <% end %>
</div>

<!-- schools -->
<div class="schools-content" id="schools-card">
  <div class="container mx-auto p-5">
    <h2 class="bleu-f mont font-bold text-3xl"><emp class="bleu-c">Ecoles de surf</emp> proche du spot</h2>
  </div>
</div>
<!-- map schools -->
<div id="map"
    class="relative"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-spot="<%= @spot_marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">


    <% @surf_schools.each_with_index do |surf_school, i| %>
      <div id="surf-school-<%= surf_school.id %>"  class="surf-school-card absolute top-0 bottom-0 right-0 p-10 z-30 flex items-center" style="<%= 'display: none;' unless i.zero? %> ">
        <div class="card-content w-full h-full">
          <div class="container school-card mx-auto flex justify-end items-center my-auto h-full">

            <div class="card overflow-hidden rounded-lg flex flex-col bg-white shadow-lg">
    <!-- image de l'école -->
              <%= image_tag(surf_school.image_url || 'surftraining_web_2018_5bis_1.jpg', class: 'school-pic w-full') %>
              <div class="card-text flex-grow p-5">


                <div class="text flex flex-col justify-between h-full">
                  <h3 class="surf-school-title mont text-xl font-semibold whitespace-no-wrap mb-2"><%= surf_school.name %></h3>
                  <p class="distance-surf roboto text-sm p-1 mb-2">à <%= distance_in_km(@spot, surf_school).round(2) %> km du spot</p>
                  <div class="flex">
                    <%= image_tag 'pictos/planchesb.svg', class: "h-6"%>
    <!-- prix planche -->
                    <p class="px-2 roboto font-light text-sm">à partir de 9€/2h</p>
                  </div>
                  <div class="flex p-1">
                    <%= image_tag 'pictos/planchesb.svg', class: "h-6" %>
                    <p class="px-2 roboto font-light text-sm"> + </p>
                    <%= image_tag 'pictos/profb.svg', class: "h-6" %>
                    <p class="px-2 roboto font-light text-sm">à partir de 19€/2h</p>
                  </div>
                  <div class="flex justify-center">
                    <%= link_to "Voir cette école", surf_school_path(@surf_schools.first), class: "btn-card-school mont bc-bleu-f flex items-center justify-center text-white rounded-md h-10 w-48 mt-10 font-normal text-left" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  <% end %>
</div>
