<div class="container">
  <div class="background-image">
    <%= image_tag "backgrounds/background school surf.png"  %>
  </div>
  <%= link_to "Retour au Spot", root_path %>
  <h1>Ecole de surf - Jeannot Sport</h1>
  <h2>Ouverture du 15 Avril au 15 Octobre</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam quidem rerum
  nam labore ipsa fugiat aspernatur veritatis fugit officia nulla, tempore et
  temporibus consectetur recusandae, doloribus dicta neque mollitia dolores.</p>
  <div class="horaires"><h3>HORAIRES:</h3></div>
  <div class="jours">
    <p>lundi</p>
    <p>mardi</p>
    <p>mercredi</p>
    <p>jeudi</p>
    <p>vendredi</p>
    <p>samedi</p>
    <p>dimanche</p>
  </div>
  <div class="horaires">
    <p>9:00 - 19:00</p>
    <p>9:00 - 19:00</p>
    <p>9:00 - 19:00</p>
    <p>9:00 - 19:00</p>
    <p>9:00 - 19:00</p>
    <p>9:00 - 19:00</p>
  </div>
  <div class="tarifs">
    <h3>TARIFS:</h3>
  </div>
  <div class="picto loc">
    <%= image_tag "pictos/surf_picto_school.png"  %>
  </div>
  <div class="a partir de loc">
    <p>à partir de 10€/2h *</p>
  </div>
  <div class="picto cours">
    <%= image_tag "pictos/surf_picto_school.png"  %> + <%= image_tag "pictos/surf_picto_prof.png"  %>
  </div>
  <div class="a partir de cours">
    <p>à partir de 30€/2h *</p>
  </div>
  <div class="lesson type">
    <p>Dans l'eau</p>
  </div>
  <div class="meeting point">
    <p>Au spot.</p>
  </div>
  <div class="picto tel">
    <%= image_tag "pictos/surf_picto_tel.png"  %>>
  </div>
  <div class="telephone">
    <p>06.70.60.50.40</p>
  </div>
  <div class="picto nav">
    <%= image_tag "pictos/surf_picto_nav.png"  %>
  </div>
  <div class="adresse">
    <p>20, rue des capucins 69000 Lyon</p>
  </div>
  <div class="google map">
    <%= image_tag "images/google_map.png"  %>
  </div>
  <div class="site web">
    <%= link_to "Site web", root_path %>
  </div>
</div>
