<% content_for :with_logo do %>
true
<% end %>


<div class="banner-school">
  <div class="image">
    <%= image_tag 'backgrounds/background school surf.jpg' %>
  </div>
</div>


<div class="container mx-auto px-10 pt-10 pb-16">
  <div class="return pb-8">
    <%= link_to "< Retour au Spot", spots_path, class: "roboto text-gray-500 hover:text-gray-600"%>
  </div>
  <div class="font-40 mont bleu-f">
    <h1>Ecole de surf - Jeannot Sport</h1>
  </div>
  <h2 class="date roboto font-bold py-4">Ouverture du 15 Avril au 15 Octobre</h2>
  <div class="roboto font-roboto">
    <p class="description w-3/4">Avec plus de 30 ans d’existence, nous proposons des
      cours de surf pour tous, dès 5 ans, quel que soit votre niveau.
      Retrouvez-nous sur la plage emblématique de la Côte des Basques où nos
      moniteurs diplômés d’état et toute notre équipe feront de votre séjour
    un moment inoubliable ! </p>
  </div>
</div>

<div class="relative">

  <div class="flex bc-bleu-f lala">
    <div class="h-full w-1/2"></div>
    <div class="h-full w-1/2"><%= image_tag "images/google_map.png", class: "h-full w-full" %></div>
  </div>



  <div class="w-full absolute z-10 top-0 left-0">


    <div class="container flex mx-auto flex lala text-white">
      <div class="h-full w-1/2 ">
        <div class="flex w-full section-school p-10">
          <div class="mr-3">
            <h3>HORAIRES :</h3>
          </div>
          <div>
            <p>
            Lundi : 9:00 - 19:00 <br>
            Mardi : 9:00 - 19:00 <br>
            Mercredi : 9:00 - 19:00 <br>
            Jeudi : 9:00 - 19:00 <br>
            Vendredi : 9:00 - 19:00 <br>
            Samedi : 9:00 - 19:00 <br>
            Dimanche : 9:00 - 19:00
            </p>
          </div>
        </div>
        <div class="flex w-full section-school p-10">
          <div class="mr-12">
            <h3>TARIF :</h3>
          </div>
          <div>
            <div class="flex mb-5">
              <%= image_tag "pictos/surf_picto_school.png"  %>
              <p class="ml-3">à partir de 9€/2h *</p>
            </div>
            <div class="flex mb-5">
              <%= image_tag "pictos/surf_picto_school.png"  %>
              <p class="mx-3">+</p>
              <%= image_tag "pictos/surf_picto_prof.png"  %>
              <p class="ml-3">à partir de 30€/2h *</p>
            </div>
            <div>
              <p>Rendez-vous directement au spot</p>
            </div>
          </div>
        </div>
        <div class="flex w-full px-10 pt-10">
          <div class="mr-16">
            <%= image_tag "pictos/surf_picto_tel.png", class: "mb-2"  %>
            <%= image_tag "pictos/surf_picto_nav.png"  %>
          </div>
          <div>
            <p class="mb-6">06.70.60.50.40</p>
            <p class="mb-6">20, rue des capucins 69000 Lyon</p>
            <a href="https://www.glissexperience.com/" target="_blank" class="mont bc-bleu-f flex items-center justify-center text-white border-white border-2 rounded-md py-2 px-2 font-normal hover:font-medium">Site web</a>
          </div>
        </div>
      </div>
      <div class="h-full w-1/2"></div>
    </div>




  </div>





</div>
