<% content_for :with_logo do %>
true
<% end %>
<div class="banner-school">
  <div class="image">
    <%= image_tag 'images-school/vieux_boucau_surf_club.jpg', class:"w-full h-full object-cover" %>
  </div>
</div>
<div class="title-school container flex justify-end mx-auto pr-10">
  <h1 class="mont text-6xl font-bold text-white">ECOLE DE SURF</h1>
</div>
<div class="container mx-auto px-10 pt-10 pb-16">
  <div class="return pb-8">
    <%= link_to "< Retour au Spot", spot_path(@spot), class: "roboto text-gray-500 hover:text-gray-600"%>
  </div>
  <div class="font-40 mont bleu-f">
    <h1 class="find-spot mont w-1/2 leading-none"> <span class="find-best mont">Ecole de surf </span> Vieux-Boucau Surf Club</h1>
  </div>
  <h2 class="date roboto font-bold py-4 text-xl bleu-f pb-10">Ouverture du 15 Avril au 15 Octobre</h2>
  <div class="roboto font-roboto">
    <p class="description w-3/4">Avec plus de 30 ans d’existence, nous proposons des
      cours de surf pour tous, dès 5 ans, quel que soit votre niveau.
      Retrouvez-nous sur la plage emblématique du Vieux-Boucau où nos
      moniteurs diplômés d’état et toute notre équipe feront de votre séjour
    un moment inoubliable ! </p>
  </div>
</div>
<div class="relative">
  <div class="flex bc-bleu-f lala2">
    <div class="h-full w-1/2"></div>
    <div class="h-full w-1/2"><%= image_tag "images/google_map.png", class: "w-full img-map" %></div>
  </div>
  <div class="w-full absolute z-10 top-0 left-0">
    <div class="container flex mx-auto flex lala text-white">
      <div class="h-full w-1/2 p-10">
        <h1 class="find-spot mont w-3/4 text-white pb-10"> <span class="find-best mont">Informations</span>  utiles</h1>
        <div class="flex w-full section-school px-10 pb-10">
          <div class="mr-3">
            <h3>HORAIRES :</h3>
          </div>
          <div class="jours-heures">
            <div class="school-jours">
              Lundi :<br>
              Mardi :<br>
              Mercredi :<br>
              Jeudi :<br>
              Vendredi :<br>
              Samedi :<br>
              Dimanche :<br>
            </div>
            <div class="school-heures">
              6:00 - 19:00<br>
              6:00 - 19:00<br>
              6:00 - 19:00<br>
              6:00 - 19:00<br>
              6:00 - 19:00<br>
              6:00 - 19:00<br>
              6:00 - 19:00<br>
            </div>
          </div>
        </div>
        <div class="flex w-full section-school px-10 pb-10">
          <div class="mr-12">
            <h3>TARIF :</h3>
          </div>
          <div>
            <div class="flex mb-5">
              <%= image_tag "pictos/surf_picto_school.png"  %>
              <p class="ml-3">à partir de 9€/2h *</p>
            </div>
            <div class="flex mb-5">
              <%= image_tag "pictos/surf_picto_school.png"  %>
              <p class="mx-3">+</p>
              <%= image_tag "pictos/surf_picto_prof.png"  %>
              <p class="ml-3">à partir de 30€/2h *</p>
            </div>
            <div>
              <p>Rendez-vous directement au spot</p>
            </div>
          </div>
        </div>
        <div class="flex w-full px-10 ">
          <div class="mr-16">
            <%= image_tag "pictos/surf_picto_tel.png", class: "mb-2"  %>
            <%= image_tag "pictos/surf_picto_nav.png"  %>
          </div>
          <div>
            <p class="mb-6">06.70.60.50.40</p>
            <p class="mb-6">20, rue des surfeurs 40480 Vieux-Boucau</p>
            <a href="https://www.glissexperience.com/" target="_blank" class="mont bc-bleu-f flex items-center justify-center text-white border-white border-2 rounded-md py-2 px-2 font-normal hover:font-medium">Site web</a>
          </div>
        </div>
      </div>
      <div class="h-full w-1/2"></div>
    </div>
  </div>
</div>
