<% content_for :with_logo do %>
true
<% end %>
<% content_for :without_logo do %>
true
<% end %>
<div class="container-su">
  <div class="img-su">
    <%= image_tag "images/sky.png"  %>
  </div>
  <div clas="text-su">
    <div class="sign-up">
      <h1>Sign up</h1>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
    <div class="form-glob-su">
      <div class="form-inputs-su-1">
        <div class="firstname-su">
          <%= f.input :firstname,
          required: true,
          autofocus: true,
          input_html: { autocomplete: "John" }%>
        </div>
        <div class="email-su">
          <%= f.input :email,
          required: true,
          autofocus: true,
          input_html: { autocomplete: "email" }%>
        </div>
        <div class="password-su">
          <%= f.input :password,
          required: true,
          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
          input_html: { autocomplete: "new-password" } %>
        </div>
      </div>
      <div class="form-inputs-su-2">
        <div class="lastname-su">
          <%= f.input :lastname,
          required: true,
          autofocus: true,
          input_html: { autocomplete: "Doe" }%>
        </div>
        <div class="username-su">
          <%= f.input :username,
          required: true,
          autofocus: true,
          input_html: { autocomplete: "JohnDoe" }%>
        </div>
        <div class="password_confirmation-su">
          <%= f.input :password_confirmation,
          required: true,
          input_html: { autocomplete: "new-password" } %>
        </div>
      </div>
    </div>
    <div class="terms">
      <div class="terms-su">
        <div>
          <input type="checkbox" id="create" name="create">
          <label for="create">Creating an account means you’re ok with terms of service</label>
        </div>
      </div>
      <div class="form-actions-su">
        <%= f.button :submit, "Sign up" %>
      </div>
      <div class="signup-su">
        <p>Sign up with</p>
      </div>
      <div class="icons-su">
        <div class="fb">
          <%= image_tag "images/fb.png"  %>
        </div>
        <div class="g+">
          <%= image_tag "images/goog.png"  %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<%= render "devise/shared/links" %>
