<% content_for :without_logo do %>
true
<% end %>

<div class="banner-home" >
  <div class="container banner-container mx-auto items-center py-10">
    <div class="banner-content grid grid-cols-2 h-full">


      <div class="Logo-text leading-none mont flex items-center">
          <h1>SURF<br>ON<br>TIME</h1>
      </div>





      <div class="h-full w-full flex items-end">
        <div class="form-content bg-green-500 flex flex-col h-80% w-full p-10">


          <h2 class="subtitle mont text-3xl font-bold mb-10 text-white">Trouve en 2 clics ton prochain surf trip avec les meilleures conditions</h2>


          <form class="form" action="<%= spots_path %>">



            <div class="range-slider">
              <!-- <span id="rs-bullet" class="rs-label roboto flex">0</span> -->
              <input id="rs-range-line" class="rs-range" type="hidden" value="0" min="0" max="4" step="0.1">
            </div>

            <!-- <div class="box-minmax roboto">
              <span>0</span><span>4+</span>
            </div> -->

           
              <!-- <p><span class="niveau">Débutant</span></p> -->
            
            <hr>
            <hr>

            <!-- type: hidden -->
            <div class="range-wave p-10 bc-green-200">
              <label class="text-white roboto mb-5">Selectione ta vague</label>
              <input type="hidden" name="min" id="rangeMin">
              <input type="hidden" name="max" id="rangeMax">
              <input id="toto" class="rs-range" type="range">
            </div>

            <!-- <div class="date-choice flex flex-col m-10">
              <label class="text-white roboto mb-5">Selectione tes dates</label>
              <input type="text" name="test" class="bc-bleu-t test rounded-md mb-8 text-left py-3 px-3  placeholder-home" placeholder="DU ... AU ...">
            </div> -->

            <div class="date-choice">
              <input type="text" name="start" class="bc-bleu-t start-date rounded-md mb-2 text-left pl-5 placeholder-home" placeholder="Du">
              <input type="text" name="end" class="bc-bleu-t end-date rounded-md mb-8 text-left pl-5 text-left pl-5 placeholder-home" placeholder="Au">
            </div>





            <input type="submit" class="mont bc-bleu-t flex items-center justify-center text-white border-white border-2 rounded-md py-2 px-8 font-normal hover:font-medium text-left pl-5" value="Trouver un spot">

          </form>



        </div>
      </div>


    </div>
  </div>
</div>















<div class="container flex items-center mx-auto p-10 title-find">
  <div class="flex">
    <h2 class="find-spot mont w-1/2 leading-none">Nous trouvons <span class="find-best mont">le meilleur spot</span></h2>
    <p class="px-10 detail roboto w-1/2 leading-8 text-lg">Surf on time analyse les <strong>conditons météorologiques</strong>, le vent et la <strong>difficulté du spot</strong> pour te proposer le spot qui correspondra à <strong>ton niveau</strong>.</p>
  </div>
</div>


<div class="mb-12">
    <%= image_tag 'images-home/parcours-home.png' %>
</div>


<!-- gallery glider-->

<div class="glider-contain container mx-auto">
  <div class="pb-8 pt-16 px-10">
    <h2 class="find-spot mont">Les meilleurs <span class="find-best mont">spots de la semaine</span></h2>
  </div>
  <div class="glider px-8 pb-5">



    <% Spot.last(3).each do |spot| %>
      <div class="">

        <%= link_to spot_path(spot) do %>
          <div data-aos="fade-up" data-aos-anchor-placement="top-bottom" class="spot-card shadow-sm rounded-lg hover:shadow-lg transition duration-1000 ease-in-out">
            <div class="img-spot">
              <%= image_tag 'divers/hossegor-graviere.jpg' %>
            </div>
            <div class="py-4 px-6">
              <p class="mont font-semibold text-xl bleu-f mb-2">Hossegor (La gravière)</p>
              <p class="roboto text-gray-500 mb-2">Soorts - Hossegor</p>
              <div class="flex items-center mb-2 bleu-f roboto"><%= image_tag 'pictos/wave.svg', class: "h-8 w-8 mr-5" %> <p>0.6 - 1.3m de hauteur</p> </div>
              <div class="flex items-center mb-2 bleu-f roboto"><%= image_tag 'pictos/soleil_nuage2.svg', class: "h-8 w-8 mr-5" %> <p>18°C</p> </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

  </div>

  <button aria-label="Previous" class="glider-prev">«</button>
  <button aria-label="Next" class="glider-next">»</button>
  <div role="tablist" class="dots"></div>


</div>





<div class="relative profite">

  <div class="w-full h-full flex items-center justify-center">
    <div class="bc-bleu-f w-full">
      <div class="container mx-auto px-10 py-20">
        <h2 class="find-spot mont w-3/4 text-white pb-10">Profite pleinement de ton <span class="find-best mont">expérience</span></h2>
        <p class="text-white w-1/2 roboto w-1/2 leading-8 text-lg">Surf on time t'indique <strong>les écoles de surf</strong> les plus proches de ton spot, les tarifs et les meilleurs plans pour vivre une <strong>expérience incroyable</strong>...</p>
      </div>
    </div>
  </div>

  <div class="div-card-school absolute top-0 left-0 w-full h-full">
    <div class="container mx-auto flex justify-end">
      <%= image_tag 'images-home/school-surf-home.png' %>
    </div>
  </div>

</div>



<div class="relative profite mb-20">


  <div class="container flex flex-col items-end justify-center mx-auto h-full px-10">

      <h2 class="find-spot mont w-3/4 pb-10 text-right">Ride dans des <span class="find-best mont">conditions optimales</span></h2>
      <p class="roboto w-1/2 leading-8 text-lg">Lorem ipsum lalalal lala lala Lorem ipsum lalalal lala lala Lorem ipsum lalalal <strong>lala lala Lorem ipsum</strong> lalalal lala lala Lorem ipsum. </p>

  </div>


  <div class="div-card-school absolute top-0 left-0 w-full h-full">
    <div class="container mx-auto flex justify-start">
        <%= image_tag 'images-home/prevision-home.png' %>
    </div>
  </div>


</div>
