
<% content_for :without_logo do %>
true
<% end %>

<div class="banner" >
  <div class="container banner-container mx-auto items-center p-10">
    <div class="banner-content grid grid-cols-2">



      <div class="Logo-text mont">
          <h1>SURF</h1>
          <h1>ON</h1>
          <h1>TIME</h1>
      </div>


      <div class="h-full w-full flex">

        <div class="form-content flex flex-col p-10 mt-20">
          <p class="subtitle roboto text-xl mb-10">Trouve en 2 clics ton prochain surf trip avec les meilleures conditions</p>
          <form class="form">












            <div class="inline-block relative roboto mb-8">
              <select name="level "class="select-level bc-bleu-t block appearance-none w-full border-0 pr-32 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline roboto text-white text-left pl-5">
                <option>Mon niveau</option>
                <option>Débutant</option>
                <option>Intermédiaire</option>
                <option>Confirmé</option>
              </select>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-white">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
              </div>
            </div>
            <input type="text" name="start" class="bc-bleu-t start-date rounded-md mb-2 text-left pl-5 placeholder-home" placeholder="De">
            <input type="text" name="end" class="bc-bleu-t end-date rounded-md mb-8 text-left pl-5 text-left pl-5 placeholder-home" placeholder="A">
            <%= link_to "Trouver un spot", spots_path, class: "mont bc-bleu-t flex items-center justify-center text-white border-white border-2 rounded-md py-2 px-8 font-normal hover:font-medium text-left pl-5" %>





            <!-- <button class="mont bc-bleu-t flex items-center justify-center text-white border-white border-2 rounded-md py-2 px-8 font-normal hover:font-medium" type="button">
            Trouver un spot
            </button> -->






          </form>
        </div>

      </div>


    </div>
  </div>
</div>

<div class="container flex items-center mx-auto p-10 title-find">
  <div class="flex">
    <h2 class="find-spot mont w-1/2">Nous trouvons <br><span class="find-best mont">le meilleur spot</span></h2>
    <p class="px-10 detail roboto w-1/2 leading-8">Ride on time analyse les <strong>conditons météorologiques</strong>, le vent et la <strong>difficulté du spot</strong> pour te proposer le spot qui correspondra à <strong>ton niveau</strong>.</p>
  </div>
</div>


<div>
    <%= image_tag 'images-home/parcours-home.png' %>
</div>



<div class="container mx-auto mb-5">
  <div class="pb-8 pt-16 px-10">
    <h2 class="find-spot mont">Les meilleurs <span class="find-best mont">spots du moment</span></h2>
  </div>
  <div class="flex justify-center pb-24 px-10">
    <div class="inline-flex"><%= image_tag 'images-home/spot-card-home.png' %></div>
    <div class="inline-flex"><%= image_tag 'images-home/spot-card-home.png' %></div>
    <div class="inline-flex"><%= image_tag 'images-home/spot-card-home.png' %></div>
  </div>
</div>



<div>


  <div class="bc-bleu-f">
    <div class="container mx-auto px-10 py-20">
      <h2 class="find-spot mont w-3/4 text-white pb-10">Profite pleinement de ton <span class="find-best mont">expérience</span></h2>
      <p class="text-white w-1/2 leading-8">Surf on time t'indique <strong>les écoles de surf</strong> les plus proches de ton spot, les tarifs <br> et les meilleurs plans pour vivre une <strong>expérience incroyable</strong>...</p>
    </div>
  </div>

  <div class="div-card-school">
    <div class="container mx-auto flex justify-end p-12">
      <%= image_tag 'images-home/school-surf-home.png' %>
    </div>
  </div>


</div>


<div>

<div>
  <div class="container flex justify-end mx-auto px-10 pb-20">

    <div class="w-7/12">
      <h2 class="find-spot mont pb-10">Ride dans des <span class="find-best mont">conditions optimales</span></h2>
      <p class=" leading-8">Lorem ipsum lalalal lala lala Lorem ipsum lalalal lala lala Lorem ipsum lalalal lala lala Lorem ipsum lalalal lala lala Lorem ipsum lalalal lala lala Lorem ipsum lalalal lala lala Lorem ipsum lalalal lala lala </p>
    </div>

   </div>
</div>



  <div class="div-card-school">
    <div class="container mx-auto flex justify-start p-12">
        <%= image_tag 'images-home/prevision-home.png' %>
    <div>
  </div>


</div>
