<!DOCTYPE html>
<html>
  <head>
    <title>SurfOnTime</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <!-- TAILWIND -->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <!-- ANIM AOS JS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  </head>

  <body>
    
    <%= render 'shared/navbar_with_logo' unless yield(:without_logo).to_s.strip == "true" %>
    <%= render 'shared/navbar_without_logo' unless yield(:with_logo).to_s.strip == "true" %> 
    <%= render 'shared/navbar_empty' %> 

 
    <%= render 'shared/flashes' %>

    <%= yield %>

    <%= render 'shared/footer' %> 





    <!-- ANIM AOS JS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>

  </body>
</html>
